.country-select {
  background-color: #edf2f7;
  height: 40px;
  border-radius: 5px;
}
.current_plan {
  color: #19b77e;
  font-weight: 400;
  font-size: 14px;
}
.default_card {
  border: 1px solid #e3e3e3;
  border-radius: 12px;
}
.radio-box-input {
  background-color: #f8f5ff;
  padding: 20px 24px;
  border: 1px solid #6152d9;
  border-radius: 12px;
}
.radio-box-output {
  background-color: #f8f5ff;
  padding: 20px 24px;
  border-radius: 12px;
}
.starters_sub {
  font-weight: 600;
  font-size: 14px;

  color: #565656;
}
.hover___:hover {
  border: 1px solid #6152d9;
  border-radius: 12px;
}
.sub_plan_card {
  border-radius: 12px;
}
.plan_head {
  font-weight: 600;
  font-size: 16px !important;
  color: #313a4f;
}
.subscibe_card {
  margin-bottom: 28px;
}
.link___ {
  font-weight: 600;
  font-size: 16px;

  color: #6152d9;
}
.points__ {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #565656;
}
.free_trail {
  background: rgba(109, 90, 252, 0.25);
  font-size: 10px;
  font-weight: 500;
  margin-left: auto;
  color: #6152d9;
}
.circle_icon {
  width: 8px;
  height: 8px;
}
.coupon_ {
  background-color: #edf2f7;
  border-radius: 6px;
  input {
    background-color: #edf2f7;
    border: 0;
    outline: none;
    box-shadow: none;
  }
  button,
  button :hover {
    font-weight: 600;
    border-width: 0px;
    color: #6152d9 !important;
    outline: none;
    box-shadow: none;
    background-color: transparent !important;
  }
}
.growth_card_total {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #313a4f;
}
.growth_card_ {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.plan_h_growth {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  color: #313a4f;
}

.form-check {
  .check_ {
    margin-top: -1px;
  }
  .footer_check {
    font-weight: 500;
    font-size: 14px;

    color: #313a4f;
  }

  .footer_terms {
    text-decoration: underline;
    color: var(--primary);
  }
}
.paymentmethod {
  background: #f6f6ff;
  border: 1px dashed #6152d9;
  border-radius: 8px;
}

.subtext {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  /* Sub text color */
  color: #565656;
}
